<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>AddNewItem</servlet-name>
    <servlet-class>project.servlet.AddNewItem</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetItemServlet</servlet-name>
    <servlet-class>project.servlet.GetitemServlet</servlet-class>
  </servlet>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
</element>